/* You can add global styles to this file, and also import other style files */

body {
  font-family: sans-serif;
  box-sizing: border-box;
  margin: 0;
}

.top-text {
  text-align: center;
  margin-top: 40px;
  font-size: 26px;
  letter-spacing: 2px;
  color: sienna;
  transition: all .5s;
}
.mainText {
  width: 60%;
  display: inline-block;
  text-align: center;
}

.main {
  position: relative;
  margin-top: 130px;
  margin-left: 50px;
  width: 90%;
  line-height: 25px;
  font-size: 12px;
  letter-spacing: 1px;
}

.img {
  display: inline-block;
  position: absolute;
  width: 20%;
  right: 0;
  top: 0;
}
.pic1 {
  position: absolute;
  box-shadow: -5px 3px 5px gray;
  transition-duration: .2s;
  z-index: 5;
}
.pic1:hover {
  transform: scale(1.1);
}
.pic2 {
  position: absolute;
  top: 60px;
  left: 70px;
  box-shadow: 1px 2px 5px gray;
  transition-duration: .2s;
  z-index: 3;
}
.pic2:hover {
  transform: scale(1.1);
  z-index: 10;
}
.pic3 {
  position: absolute;
  top: 120px;
  left: -70px;
  box-shadow: 1px 2px 5px gray;
  transition-duration: .2s;
  z-index: 1;
}
.pic3:hover {
  transform: scale(1.1);
  z-index: 10;
}

.card {
  display: inline-block;
  width: 20%;
  margin-top: 100px;
  margin-left: 40px;
  height: 100px;
  box-shadow: 1px 2px 10px gray;
  transition: transform .6s;
  &:hover{
    transform: translateY(-20px);
  }
}
.c1 {
  background-color: #0f6674;
}
.c2 {
  background-color: #494f54;
}
.c3 {
  background-color: #0b2e13;
}

.test {
  height: 100px;
  margin: 80px auto;
  text-align: center;
}
