<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="font-size: 22px">

<input style="width: 140px;height: 24px" type="text" [(ngModel)]="text">
<button style="width: 80px; height: 30px" [disabled]="!allowNewS" (click)="OnCreater()">Click</button>
<p>{{text}}</p>

<p *ngIf="create;else other" [ngStyle]="{color: getColor()}">{{getStatus()}}</p>
<ng-template #other>
  <p>{{getStatus()}}</p>
</ng-template>
</body>
</html>

<!-- we can create a class and css file for class, and add several custom change...
and Use [ngClass] instead [ngStyle]... [ngStyle] is for only praperty
aber [ngClass] Used for many custom changes -->

