
<div class="mainText">
  <h2 class="text-head1"> YOURE GOING TO FALL IN LOVE WITH NATURE </h2>
  <p class="text-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure ea laborum suscipit dicta ullam
    dolores deleniti sit, vitae enim odio dolore dolorem doloremque aliquid ipsa assumenda recusandae natus obcaecati
    illo molestiae, accusantium reprehenderit a. Atque quis aspernatur aut explicabo. Quidem atque, ipsam quas! Porro
    voluptatum consequatur rerum officiis!</p>
  <h2 class="text-head2"> LIVE ADVENTURES LIKE YOU NEVER HAVE BEFORE </h2>
  <p class="text-2">Lem ipsum dolor sit amet, consectetur adipisicing elit. Numquam iste sit vel saepe tempore sequi
    deserunt ducimus debitis est veniam minima harum autem, illo cum blanditiis commodi at incidunt doloremque, beatae
    similique ut. Minus vero.</p>
</div>

