<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Angular {{ title }}
  </h1>
</div>

<hr>
<app-header></app-header>

<app-main></app-main>

<app_footer class="card" *ngFor="let num of numberOfFooterTag; let i = index"
            [ngClass]="{'c1': i==0,'c2': i==1,'c3': i==2}"></app_footer>

<div class="test">
  <app_test></app_test>
</div>

<router-outlet></router-outlet>
